# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.t8-assembly'
'name': 'T8 Assembly'
'fileTypes': [
  't8'
]
'patterns': [
  {
    'match': '\\bLOAD\\b'
    'name': 'keyword.other.masm.load'
  },
  {
    'match': '\\bSTOR\\b'
    'name': 'keyword.other.masm.stor'
  },
  {
    'match': '\\bLOADP\\b'
    'name': 'keyword.other.masm.loadp'
  },
  {
    'match': '\\bSTORP\\b'
    'name': 'keyword.other.masm.storp'
  },
  {
    'match': '\\bLODI\\b'
    'name': 'keyword.other.masm.lodi'
  },
  {
    'match': '\\bLODIP\\b'
    'name': 'keyword.other.masm.lodip'
  },
  {
    'match': '\\bARITH\\b'
    'name': 'keyword.other.masm.arith'
  },
  {
    'match': '\\bARITI\\b'
    'name': 'keyword.other.masm.ariti'
  },
  {
    'match': '\\bMOV\\b'
    'name': 'keyword.other.masm.mov'
  },
  {
    'match': '\\bJMPC\\b'
    'name': 'keyword.control.masm.jmpc'
  },
  {
    'match': '\\bCALL\\b'
    'name': 'keyword.control.masm.call'
  },
  {
    'match': '\\bHLT\\b'
    'name': 'keyword.control.masm.hlt'
  },
  {
    'match': '\\bRET\\b'
    'name': 'keyword.control.masm.ret'
  },
  {
    'match': '\\bIN\\b'
    'name': 'keyword.other.masm.in'
  },
  {
    'match': '\\bOUT\\b'
    'name': 'keyword.other.masm.out'
  },
  {
    'match': '\\bPUSH\\b'
    'name': 'keyword.other.masm.push'
  },
  {
    'match': '\\bPOP\\b'
    'name': 'keyword.other.masm.pop'
  },
  {
    'match': "\\bADD\\b"
    'name': 'keyword.other</scope>.masm.add'
  },
  {
    'match': '#.*'
    'name': 'comment.line.number-sign'
  },
  {
    'match': '\\b\\d+\\b'
    'name': 'constant.numeric.masm'
  },
  {
    'match': '\\b0x[0-9a-fA-F]+\\b'
    'name': 'constant.numeric.masm'
  }
]
